<a href="https://colab.research.google.com/github/mottaquikarim/analysis_of_loops/blob/master/loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

# odds = 

# evens =



### P2.PY

In [0]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

# Using a loop, remove the duplicate items from list a and print out the updated list.


# Using a loop, merge list b into list a without adding any duplicates.



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0


# sample_temps =

### P4.PY

In [0]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""



### P5.PY

In [0]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""

## FACTORS



### P1.PY

In [0]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = input('Enter a number to find its factorial: ')



### P2.PY

In [0]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')



### P3.PY

In [0]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')

## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

### P2.PY

In [0]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""



### P3.PY

In [0]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""

### P4.PY

In [0]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""



### P5.PY

In [0]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

### P6.PY

In [0]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

## LOOP_CHALLENGES

### P1.PY

In [0]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")